body {
    background-color: black;
}

.filmes {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    width: 320px;
    margin: 50px;
    padding: 20px;
    position: relative;
    background-color: gray;
    border: 3px solid red;
    border-radius: 10px;
}

.cartaz {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    color: white;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 10px;
}

button {
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

button:focus {
    background-color:darkkhaki;
    color: black;
}