.filmes {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    width: 320px;
    margin: 50px;
    padding: 10px;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

button:hover {
    background-color: black;
    color: white;
}

button:focus {
    background-color: gray;
    color: white;
}